# pip install -r requirements-dev.txt
# For youtube-dl, you need to `git clone` and `pip install -e .` it

deepgram-sdk==v3.0.0-rc.1
deepgram-captions==v1.1.0
google-api-python-client==1.7.2
google-auth==2.14.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
python-dotenv
httpx
verboselogs
